.selected#fieldview {
    background-color: rgb(0, 145, 255);
}

.actionset#button {
    background-color: rgb(102, 102, 102);
}

.action#button {
    background-color: rgb(128, 128, 128);
}

.consideration#button {
    background-color: rgb(153, 153, 153);
}

.running#button {
    background-color: rgba(229, 139, 5, 255);
}
